%h2= "Hey, How'ya doin, #{@user.person.name}?"
%p 
  This is me, your friendly Proust emailer. Just sayin' hi. Come back to the site, eh?
  = link_to "the Proust Project site", root_url
%p Cheers, then.
%p - Your friendly Proust emailer