%h1 Welcome to MyDante!
%h2 We're 'Under Construction'!
%p Please bear with us while the MyDante site is updated and moved to a new server. We anticipate offering a more responsive site once our changes are done, but in the meantime, we have limited some of the functionality that is being rewritten. If there is a feature you would especially like to see back in the application soon, please drop us a line at 
= mail_to("cndls_developers@georgetown.edu") + "."
%p If you're new to MyDante, the "Getting Started" Guide is a good place to start. We hope you enjoy your experience!