@mixin small_straight_down_shadow{
  @include box_shadow(0, 1px, 5px, rgba(0, 0, 0, 0.5));
}

@mixin straight_down_shadow{
  @include box_shadow(0, 5px, 15px, rgba(0, 0, 0, 0.5));
}

@mixin rounded_corners($size){
  border-radius: $size;
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
}

@mixin rounded_top_corners($size){
  -moz-border-radius-toptopleft: $size;
  -moz-border-radius-topright: $size;
  -webkit-border-top-left-radius: $size;
  -webkit-border-top-right-radius: $size;
  -border-top-left-radius: $size;
  -border-top-right-radius: $size;
}

@mixin rounded_bottom_corners($size){
  -moz-border-radius-bottomleft: $size;
  -moz-border-radius-bottomright: $size;
  -webkit-border-bottom-left-radius: $size;
  -webkit-border-bottom-right-radius: $size;
  -border-bottom-left-radius: $size;
  -border-bottom-right-radius: $size;
} 

@mixin box_shadow($horiz_offset, $vert_offset, $blur_radius, $color){
  -webkit-box-shadow: $horiz_offset $vert_offset $blur_radius $color;
  -moz-box-shadow: $horiz_offset $vert_offset $blur_radius $color;
  box-shadow: $horiz_offset $vert_offset $blur_radius $color;
}

@mixin inner_shadow($horiz_offset, $vert_offset, $blur_radius, $color){
  -webkit-box-shadow: inset $horiz_offset $vert_offset $blur_radius $color;
  -moz-box-shadow: inset $horiz_offset $vert_offset $blur_radius $color;
  box-shadow: inset $horiz_offset $vert_offset $blur_radius $color;
}

@mixin gradient($first, $second) {
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background-image: -webkit-gradient(linear, left top, left bottom, from($first), to($second));
  background-image: -moz-linear-gradient(top,  $first,  $second);
}

@mixin letterpress($color){
  color: $color;
  text-shadow: darken($color, 50%) 0 -1px 1px, lighten($color, 50%) 0 1px 1px
}

@mixin new_anim($name, $duration:3s){
	-webkit-animation-duration: $duration;  
	-webkit-animation-name: $name;
	-moz-animation-duration: $duration;  
	-moz-animation-name: $name;
}

// std colors
$text_color: #334;
$link_color: #900;
$tab_link_color:  #567;
$contextual_menu_link_color: #BBA;
$record_control_link_color: #459;
$form_element_border_color: #999999;
$record_row_odd_background_color: rgb(225, 229, 235);
$record_row_even_background_color: white;
$record_row_odd_background_sorted_color: rgb(195, 213, 244);
$record_row_even_background_sorted_color: white;

// determines width of flowing elements in form, too (eg, div, p, etc)
$wysiwyg_editor_width: 800px;

$text_hiliter_green_color: #47fb51;
$text_hiliter_blue_color: #90C0ff;
$text_hiliter_magenta_color: #eb4feb;
$text_hiliter_yellow_color: #ffff20;


//
// functions for common customizations
//

@mixin form-element-border($y){
  border: 1px solid $form_element_border_color;
  border-top-color: $form_element_border_color * 1.25;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 $y 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 $y 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 $y 2px rgba(0, 0, 0, 0.2);
}

@mixin mac-btn{
  padding: 0.4ex 1.2ex;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: #ddd url(../images/btn_gradient.png) top repeat-x;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border: 1px solid #bbb;

  &:hover{
    color: #222;
    background-color: #76b3ff;
    border-color: #99a;
    text-shadow: white 0 -1 5px;
  }
  
  &:active{
    color: black;
    background-color: #76bef6;
    border-color: #556;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: white 0 0 3px;
  }
}

//
// workhorse classes
//

.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}
.center{
  margin: 0 auto;
  display: table;
}
.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}