// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "defines";

ul#auth_list{
  list-style-type: none;

  li{
  
    &.ldap{
      list-style-image: image-url("ldap_32.png")
    }
    
    &.shibboleth{
      list-style-image: image-url("shibboleth_32.png")
    }

    a{
      text-decoration: none;
      display: block;
      line-height: 2em;
      vertical-align: top;
    }

  }
}
  
#guides_chooser{
  margin: 0 auto;
  width: 675px;
  height: 503px;
  @include straight_down_shadow();
}

#getting_started{
  margin: 2em auto;
  width: 675px;
}