// application-wide styles
@import "defines";

/* sizes are based on a font-size of 16px, so 0.0625em = 1px */

body{
  margin: -0.75em 0 1.5em 0;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  overflow{
    x: hidden;
    y: scroll;
  }
  
  background: {
    color: transparent;
    image: url(image-path('background.jpg'));
    position: top left;
    repeat: repeat;
    overflow: scroll;
  }
  
  a{    
    color: $link_color;
    text-decoration: none;

    &:hover, &:focus{
      color: lighten($link_color, 15%);
    }
  }
}

/* powered by cndls section doesn't scale. use px sizes. */
#powered_by_cndls{
  background: {
    image: url(image-path('cndls_frame-bg.png'));
    position: top left;
    repeat: repeat-x;
  }
  display: block;
  height: 26px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;

	a{
	  background: {
	    image: url(image-path('cndls_frame-button3.png'));
      position: top left;
      repeat: repeat-x;
    }
    visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 0.25s ease-out;
		-moz-transition: opacity 0.25s ease-out;
		-o-transition: opacity 0.25s ease-out;
		transition: opacity 0.25s ease-out;
	  height: 50px;
	  width: 198px;
	  position: absolute;
	  top: 0;
	  left: 800px;
	  text-indent: -9999px;
	}  

  &:hover, &:focus{
    > a{
      visibility: visible;
  		opacity: 1;
    }
  }
}

//
// page
//

#page{
  font-size: 16px;
  padding: 1.125em 0 0 0;
  width: 64em;
  margin: 0 auto;
  text-align: left;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #222;
  background: {
    color: #eee;
  }
  @include rounded_bottom_corners(0.25em);
  @include straight_down_shadow;
  

  #page_header{
    #banner{
      height: 13.5em;
      background: {
        size: cover;
      }
      border-bottom: 0.375em solid black;
      
      .titlebar{
        position: relative;
        top: 7.25em;
      }
    }
  }
  
  #messages{
    padding: 0.125em 0.25em;
      
    div{
      @include rounded_corners(0.25em);
      
      &.notice{
        background:{
          color: rgba(205, 102, 0, 0.75);
        }
      }
      
      &.alert{
        background:{
          color: rgba(230, 0, 0, 0.75);
        }
      }
    }
    
    h3{
      margin: 0.125em;
      display: inline;
      font-weight: 600;
    }
  }
  
  ul.menubar {
    padding: 0;
    margin: 0;
    border-bottom: 0.125em solid #222;
    background: {
      color: #502401;
      image: url(image-path('menubar/menubar_brushed_bg.png'));
      repeat: repeat;
      position: top;
    }
    z-index: 100;
    position: relative;
    @include straight_down_shadow;
    list-style: none;
    text-transform: lowercase;
    text-align: left;
    font-size: 1.0em;
    line-height: 1.125em;
    letter-spacing: 0.125em;
    
    
    li.menu_btn{
      display: block;
      float: left;
      margin-left: 0.025em;
      
      a{
        text-decoration: none;
        padding: 0 0.75em;
				font-size: 1em;
        line-height: 1.5em;
				font-weight: normal;
				text-transform: capitalize;
				color: black;
      }

      &:hover, &:focus{
        background: rgba(0,0,0,0.375);

				> a {
	        color: white;
				}

        > ul.menu{
          visibility: visible;
					opacity: 1;
        }
      }

      &:active{
        background: rgba(0,0,0,0.5);
      }
      
      > ul.menu{
        -webkit-padding-start: 0;
        list-style: none;
        text-transform: none;
        position: absolute;
        visibility: hidden;
				opacity: 0;
				-webkit-transition: opacity 0.25s ease-out;
				-moz-transition: opacity 0.25s ease-out;
				-o-transition: opacity 0.25s ease-out;
				transition: opacity 0.25s ease-out;
        background: {
          color: rgba(0,0,0,0.85);
          image: url(image-path('menubar/menu_bg.jpg'));
          repeat: repeat;
        }
        min-width: 150px;
        border: 2px solid #111;
        text-shadow: none;
        font-size: 1em;
        margin: 0;
        padding-bottom: 0.3125em;
        z-index: 100;
        @include rounded_bottom_corners(0.5em);
        @include box_shadow(0, 0.25em, 1em, black);
        
        li.menu_item{
					padding: 0.125em 0;
					
					> a {
						display:block;
						width: 100%;
						height: 100%;
						font-size:0.875em;
						line-height:1.875em;
						color: rgba(255, 255, 255, 0.7);
						
            &:before{
              content: url(image-path('menubar/menu_dot.png'));
              padding-right: 0.75em;
            }
            
		        &:hover, &.focus{
		   				color: white;
		   				text-shadow: black 0 1px 1px;
						}
					}
					
	        &:hover, &.focus{
			      background: rgba(255,255,255,0.25);
	 				}
				}
      }

      hr{
        opacity: 0.1
      }
    }
  }
  
  
  #page_container{
    background: {
      color: transparent;
      image: url(image-path('parchment.jpg'));
      position: top;
      repeat: repeat-y;
    }  
    @include rounded_bottom_corners(0.25em);
  
    #page_contents {
      padding: 0.1em 1em;
   
      h1{
        margin: 0.75em 0;
        font-size: 1.5em;
        font-weight: normal;
      }
    }
  
  
    #page_footer{
      border-top: 1px dashed #666;
      padding-top: 1.25em;
      font-size: 0.5em;
      margin: 2em;
      img{
        display: block;
      }
    }
  
    #page_bottom{
      height: 1.75em;
      @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.15));
      @include rounded_bottom_corners(0.175em);
      text-align: center;
      
      a.resizer{
        display: block;
        width: 56px;
        margin: 0 auto;
        background: {
          image: url(image-path('resize.png'));
          repeat: repeat-x;
          position: bottom;
        }
      }
    }
  }
  
}