// Place all the styles related to the Media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  text-align: center;
}



table.poem{
  
  td{
    padding: 0.25em 0;
  
    &.line_nbr{
      font-size: 0.75em;
      color: #333;
      vertical-align: top;
      text-align: right;
      padding: 0.5em;
    }
    
    &.stanza{
      padding-right: 0.25em;
    }
    
    p{
      margin: 0 0 0.5em;
    }
  }
}