%ul.menubar
  - menus.each do |menu|
    %li{ :id => "#{menu.id}_menu_btn", :class => "menu_btn" }
      = link_to(menu.label, null_js)
      = render :partial => "application/menu", :locals => { :items => menu.get_items }
  %li.clear