- if flash.empty?
  #messages.empty 
- else
  #messages
    - flash.each do |key, message|
      %div{ :class => key }
        %h3= key.to_s.capitalize
        %span= message
        - flash.discard key