%section#page_footer
  .left
    %a{ :href => "http://cndls.georgetown.edu", :target => "_blank" }
      = image_tag("cndls_logo.gif", :border => 0)
    %a{ :href => "http://cndls.georgetown.edu", :target => "_blank" } 
      CENTER FOR NEW DESIGNS IN LEARNING & SCHOLARSHIP
    %br
    3520 PROSPECT STREET NW SUITE 314
    %br
    WASHINGTON DC 20057
    %br
    202.687.6835

  .right
    %a{ :href => "http://www.georgetown.edu", :target => "_blank" } 
      = image_tag "gu_nameplate.gif", :border => 0
.clear